<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only4.adapter.infra.mybatis.mapper.CustomerMapper">
  <resultMap id="customer" type="com.only4.domain.aggregates.customer.Customer">
    <id column="id" property="id"/>
    <result column="account" property="account"/>
    <result column="password" property="password"/>
    <result column="balance" property="balance"/>
    <result column="nack_name" property="nickName"/>
    <result column="signature" property="signature"/>
    <result column="grade" property="grade"/>
    <collection property="customerStatistics"
      ofType="com.only4.domain.aggregates.customer.CustomerStatistics">
      <result column="rank" property="rank"/>
      <result column="likes" property="likes"/>
      <result column="fans" property="fans"/>
      <result column="reports" property="reports"/>
      <result column="follows" property="follows"/>
      <result column="works" property="works"/>
    </collection>
    <collection property="customerPermissions"
      ofType="com.only4.domain.aggregates.customer.CustomerPermission">
      <result column="permission_code" property="permissionCode"/>
      <result column="permission_remark" property="permissionRemark"/>
    </collection>
    <collection property="customerRoles"
      ofType="com.only4.domain.aggregates.customer.CustomerRole">
      <result column="role_id" property="roleId"/>
      <result column="role_name" property="roleName"/>
    </collection>
  </resultMap>

  <select id="getByAccount" resultMap="customer">
    SELECT c.id                 as id,
           c.account            as account,
           c.password           as password,
           c.balance            as balance,
           c.nick_name          as nick_name,
           c.signature          as signature,
           c.grade              as grade,
           cs.rank              as `rank`,
           cs.likes             as likes,
           cs.fans              as fans,
           cs.reports           as reports,
           cs.follows           as follows,
           cs.works             as works,
           cp.permission_code   as permission_code,
           cp.permission_remark as permission_remark,
           cr.role_id           as role_id,
           cr.role_name         as role_name
    FROM customer as c
           LEFT JOIN customer_statistics as cs ON c.id = cs.customer_id
           LEFT JOIN customer_permission as cp ON c.id = cp.customer_id
           LEFT JOIN customer_role as cr ON c.id = cr.customer_id
    where c.account = #{account}
  </select>
</mapper>
