<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only4.adapter.infra.mybatis.mapper.ArticleMapper">

    <resultMap id="article" type="com.only4.domain.aggregates.article.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="cover" property="cover"/>
        <result column="appendix" property="appendix"/>
        <result column="price" property="price"/>
        <result column="visibility" property="visibility"/>
        <result column="sticky_flag" property="stickyFlag"/>
        <result column="comment_flag" property="commentFlag"/>
        <result column="banned_at" property="bannedAt"/>
        <result column="ban_duration" property="banDuration"/>
        <result column="del_flag" property="delFlag"/>

        <collection property="articleCategories"
                    ofType="com.only4.domain.aggregates.article.ArticleCategory">
            <result column="category_id" property="categoryId"/>
            <result column="category_name" property="categoryName"/>
        </collection>

        <collection property="articleAuthors"
                    ofType="com.only4.domain.aggregates.article.ArticleAuthor">
        </collection>

        <collection property="articleStatistics"
                    ofType="com.only4.domain.aggregates.article.ArticleStatistics">

        </collection>

        <collection property="articleTags"
                    ofType="com.only4.domain.aggregates.article.ArticleTag">
            <result column="tag_id" property="tagId"/>
            <result column="tag_name" property="tagName"/>
        </collection>

    </resultMap>

    <select id="existedByCategoryId" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM article ar
                               LEFT JOIN article_category arc ON ar.id = arc.article_id
                      WHERE arc.id = #{id}) as is_exists
    </select>
    <select id="existedByTagId" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM article ar
                               LEFT JOIN article_tag art ON ar.id = art.article_id
                      WHERE art.id = #{id}) as is_exists
    </select>
</mapper>
