<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only4.adapter.infra.mybatis.mapper.MemberMapper">
    <resultMap id="member" type="com.only4.domain.aggregates.member.Member">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="nick_name" property="nickName"/>
        <result column="signature" property="signature"/>
        <result column="level" property="level"/>
        <result column="balance" property="balance"/>
        <result column="ban_flag" property="banFlag"/>
        <result column="banned_at" property="bannedAt"/>
        <result column="ban_duration" property="banDuration"/>
        <result column="del_flag" property="delFlag"/>

        <collection property="memberStatistics"
                    ofType="com.only4.domain.aggregates.member.MemberStatistics">

        </collection>

        <collection property="followMembers"
                    ofType="com.only4.domain.aggregates.member.FollowMember">

        </collection>

        <collection property="blockMembers"
                    ofType="com.only4.domain.aggregates.member.BlockMember">

        </collection>

    </resultMap>

    <select id="existedMemberByName" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM member WHERE name = #{name}) as is_exists
    </select>
    <select id="existedMemberByPhone" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM member WHERE phone = #{phone}) as is_exists
    </select>
    <select id="getMemberByName" resultMap="member">
        SELECT me.id        as id,
               me.name      as name,
               me.password  as password,
               me.phone     as phone,
               me.nick_name as nick_name,
               me.signature as signature,
               me.level     as level,
               me.balance   as balance
        FROM member me
        WHERE me.name = #{name}
    </select>
</mapper>
