<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only4.adapter.infra.mybatis.mapper.OrderMapper">

    <resultMap id="order" type="com.only4.domain.aggregates.order.Order">
        <id column="id" property="id"/>
        <result column="amount" property="amount"/>
        <result column="price" property="price"/>
        <result column="state" property="state"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="existedById" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM `order` WHERE id = #{id}) as is_exists
    </select>
    <select id="getOrderById" resultMap="order">
        SELECT ord.id       as id,
               ord.amount   as amount,
               ord.price    as price,
               ord.state    as state,
               ord.del_flag as delFlag
        FROM `order` ord
        WHERE ord.id = #{id}
    </select>
</mapper>
