<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only4.adapter.infra.mybatis.mapper.StarMapper">

    <resultMap id="star" type="com.only4.domain.aggregates.star.Star">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="member_id" property="memberId"/>
        <result column="description" property="description"/>
        <result column="amount" property="amount"/>
        <result column="del_flag" property="delFlag"/>

        <collection property="stardusts"
                    ofType="com.only4.domain.aggregates.star.Stardust"
                    resultMap="stardust">
            <result column="name" property="name"/>
            <result column="create_at" property="createAt"/>
            <result column="del_at" property="delAt"/>
        </collection>
    </resultMap>

    <resultMap id="stardust" type="com.only4.domain.aggregates.star.Stardust">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_at" property="createAt"/>
        <result column="del_at" property="delAt"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="existedStarByName" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM star WHERE name = #{name}) as is_exists
    </select>
    <select id="GetStarListByMemberIdQry" resultMap="star">
        SELECT s.id          as id,
               s.name        as name,
               s.member_id   as member_id,
               s.description as description,
               s.amount      as amount
        FROM star s
        WHERE s.member_id = #{memberId}
    </select>
</mapper>
