<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.only4.adapter.infra.mybatis.mapper.TagMapper">

    <resultMap id="tag" type="com.only4.domain.aggregates.tag.Tag">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="icon" property="icon"/>
        <result column="ref_count" property="refCount"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="existedTagByName" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM tag WHERE name = #{name}) as is_exists
    </select>
</mapper>
